{% extends 'base.html' %}

{% block content %}

    <div class="block">
        <a href="{% url 'dwitter:profile_list' %}">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
    </div>

    <ul>
        {% for following in profile.follows.all %}
            <li>
                <a href="{% url 'dwitter:profile' following.id %}">
                    {{ following }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <!-- ... -->

    <ul>
        {% for follower in profile.followed_by.all %}
            <li>
                <a href="{% url 'dwitter:profile' follower.id %}">
                    {{ follower }}
                </a>
            </li>
        {% endfor %}
    </ul>


{% endblock content %}